<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean name="/newsaction" 
            class="com.epam.testapp.presentation.action.NewsAction"
            singleton="true">
        <property name="newsService" ref="newsService"></property>
    </bean>
    
    <bean id="newsService" class="com.epam.testapp.service.NewsService"
          singleton="true">
        <property name="newsDao" ref="hibernateNewsDao"></property>
    </bean>
    
    
    <import resource="spring/spring-jdbc.xml" />
    <import resource="spring/spring-hibernate.xml" />
    
    
    
</beans>