/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.12.2014, 23:49:19
    Author     : Alena.Grouk
*/
/*http://verstka.pro/notes/prizhatyy-k-nizu-futer.html*/
html {
    background-color:  white;
    font-family: Arial, sans-serif;
}

body {
    padding: 1%;
    min-width: 800px;
}

#header {
    background-color:  whitesmoke;
    border: 1px solid darkgrey;
    min-height: 4%;
    text-align: left;
    padding: 1%;
}

h1.titletext {
    margin: 1% 1% 0 1%;
    padding-left: 2%;
}

.title, .title:visited {
    text-decoration: none;
    color: blue;
}

.right {
    text-align: right;
}

.constColor.blue, .constColor, .constColor.blue:visited, .constColor:visited {
    color: blue;
    padding: 0 1% 0 1%;
}

.constColor.nodecor, .constColor.blue.nodecor {
    text-decoration: none;
    padding: 0 5% 0 5%;
}


h2.menuhead {
    margin: 0;
    padding: 2%;
    color: white;
}

textarea {
   overflow: scroll;
   resize: none;
   word-wrap: inherit;
}

.errors {
    color: red;
}

#main {
    border: 1px solid darkgray;
    min-height: 800px;  
}

#footer {
    background-color:  whitesmoke;
    border: 1px solid darkgrey;
    min-height: 3%;
    text-align: center;
}

.constColor.grey, .constColor.grey:visited {
    color: silver;
}

.menucontainer {
    width: 20%;
    background-color:  lightgrey;
    padding: 1.5% 0.5% 3% 1%;
    margin: 1%;
    float: left;
}

.menuheader {
    background-color:  darkgray;
    text-align: center;
}

.menulist {
    background-color:  white;
    margin: 4% 3% 0 15%;
    padding: 2% 4% 8% 2%;
}

.newstable {
    width: 100%;
    padding: 8px; 
}

.mainrow {
    width: 60%;
    padding: 8px; 
}
.mainrow.right {
    text-align: right;
}
.mainrow.bold {
    font-weight: bolder;
}

.constWid {
    word-wrap:break-word; 
    table-layout: fixed;
    overflow-x: auto;
    width: 550px;
    text-align: justify;
}
.constWid.add {
    width: 650px;
}

.addrow {
    width: 40%;
    text-align: left;
    padding: 8px; 
    vertical-align: top;
}


.addrow.line {
    text-decoration: underline;
    margin: 0 5% 0 0;
}

.addrow.line.center, .addrow.center {
    text-align: center;
    width: 20%;
}

.addrow.right {
    text-align: right;
}


.butSize {
    width: 100px;
}


.leftcontainer {
    width: 67%;
    padding: 2%;
    margin: 1%;
    float: left;
    text-align: right;
}

.bodycontainer {
    width: 70%;
    border: 2px solid lightgrey;
    padding: 2%;
    margin: 1% 1% 1% 0;
    float: right;
    background-color:  white;
}
.rigthcontainer {
    width: 20%;
    padding: 2%;
    margin: 1%;
    float: right;
    text-align: left;
}