/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.12.2014, 23:49:19
    Author     : Alena.Grouk
*/

html {
    background-color:  white;
}

body {
    padding: 1%;
}

#header {
    background-color:  whitesmoke;
    border: 1px solid darkgrey;
    min-height: 4%;
    text-align: left;
    padding: 0px 25px 15px 45px;
}

#main {
    border: 1px solid darkgray;
    min-height: 800px;  
}

#footer {
    background-color:  whitesmoke;
    border: 1px solid darkgrey;
    min-height: 3%;
    text-align: center;
}

.menucontainer {
    width: 20%;
    background-color:  lightgrey;
    padding: 2%;
    margin: 1%;
    float: left;
}

.leftcontainer {
    width: 67%;
    padding: 2%;
    margin: 1%;
    float: left;
    text-align: right;
}

.bodycontainer {
    width: 67%;
    border: 2px solid lightgrey;
    padding: 2%;
    margin: 1%;
    float: right;
    background-color:  white;
}
.rigthcontainer {
    width: 20%;
    padding: 2%;
    margin: 1%;
    float: right;
    text-align: left;
}

.menuheader {
    background-color:  darkgray;
    text-align: center;
}

.menulist {
    background-color:  white;
}

.newstable {
    width: 100%;
    padding: 8px; 
}

.mainrow {
    width: 70%;
    padding: 8px; 
}

.addrow {
    width: 30%;
    text-align: right;
    padding: 8px; 
}

.right {
    text-align: right;
}
